doctype.html
html
  head
    title Agent Menu page
  body
    div.container
      h1 Agent Menu
      br
      br
      input.btn(type="button",value="Permit",onclick="window.location.pathname='/ship/agent/permit'")
