doctype.html
html
  head
    title approver Home page
  body
    div.container
      h1 Home
      br
      br
      input.btn(type="button",value="Login",onclick="window.location.pathname='/ship/approver/login'")
      br
      br
      input.btn(type="button",value="Register",onclick="window.location.pathname='/ship/approver/regis'")
