doctype.html
html
  head
    title company Home page
  body
    div.container
      h1 Home
      br
      br
      input.btn(type="button",value="Login",onclick="window.location.pathname='/ship/company/login'")
      br
      br
      input.btn(type="button",value="Register",onclick="window.location.pathname='/ship/company/regis'")
