doctype.html
html
  head
    title Company Menu page
  body
    div.container
      h1 Company Menu
      br
      br
      input.btn(type="button",value="Select Start and End Date",onclick="window.location.pathname='/ship/company/date'")
