doctype.html
html
  head
    title Index page
    link(rel='stylesheet',href='/stylesheets/index.css')
  body
    div.container
      br
      br
      input.btn(type="button",value="User",onclick="window.location.pathname='/ship/user'")
      br
      br
      input.btn(type="button",value="Approver",onclick="window.location.pathname='/ship/approver'")
      br
      br
      input.btn(type="button",value="Custom Agent",onclick="window.location.pathname='/ship/agent'")
      br
      br
      input.btn(type="button",value="Ship Company",onclick="window.location.pathname='/ship/company'")
      br
      br
      input.btn(type="button",value="Inspector",onclick="window.location.pathname='/ship/Inspector'")
