doctype.html
html
  head
    title Inspector Menu page
  body
    div.container
      h1 Inspector Menu
      br
      br
      input.btn(type="button",value="Permit",onclick="window.location.pathname='/ship/inspector/permit'")
