doctype.html
html
  head
    title inspector Registration
  body
    div.container
      h1 inspector Registration
      form(action="/ship/inspector/regis",method="post")
        br
        input.username(type="text",name="username",placeholder="Username")
        br
        input.password(type="password",name="password",placeholder="Password")
        br
        br
        input.btn(type="submit",value="submit")
