adoctype.html
html
  head
    title Inspector Permit
  body
    div.container
      h1 Inspector
      form(action="/ship/inspector/permit",method="post")
        br
        input.id(type="text",name="id",placeholder="Item ID")
        br
        input(type="radio", id="approve", name="status", value="approve")
        label(for="approve") Approve
        br
        input(type="radio", id="reject", name="status", value="Reject")
        label(for="reject") Reject
        br
        br
        input.btn(type="submit",value="submit")
      p #{error}
