doctype.html
html
  head
    title user Registration
  body
    div.container
      h1 user Registration
      form(action="/ship/user/regis",method="post")
        br
        input.username(type="text",name="username",placeholder="Username")
        br
        input.phone(type="text",name="phone",placeholder="Phone Number")
        br
        input.password(type="password",name="password",placeholder="Password")
        br
        br
        input.btn(type="submit",value="submit")
