doctype html
html
  head
    title user Login
    link(rel='stylesheet',href='/stylesheets/index.css')
  body
    div.container
      h1 user Login
      form(action="/ship/user/login",method="post")
        br
        br
        input.username(type="text",name="username",placeholder="Username")
        br
        input.password(type="password",name="password",placeholder="Password")
        br
        input.btn(type="submit",value="submit")
        br
        br
        p #{error}
